/* components/UserTable.css */
.user-table {
    font-family: 'Arial', sans-serif;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    margin-bottom: 10px;
  }
  
  .table-header,
  .table-row {
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align:justify;
  }
  
  .table-header {
    background-color: #f1f1f1;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .table-row.selected {
    background-color: #f0f8ff;
  }
  
  .pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .pagination button {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #f0f0f0;
  }
  
  .pagination button.active {
    background-color: #4caf50;
    color: white;
  }
  
  .bulk-delete {
    margin-top: 10px;
    background-color: #ff3333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .bulk-delete:hover {
    background-color: #cc0000;
  }
  
  .actions {
    display: flex;
    gap: 5px;
  }
  
  .actions button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .actions button.edit {
    background-color: #4caf50;
    color: white;
  }
  
  .actions button.edit:hover {
    background-color: #45a049;
  }
  
  .actions button.delete {
    background-color: #f44336;
    color: white;
  }
  
  .actions button.delete:hover {
    background-color: #d32f2f;
  }
  
  .actions button.save {
    background-color: #2196f3;
    color: white;
  }
  
  .actions button.save:hover {
    background-color: #0b7dda;
  }
  
  @media (max-width: 768px) {
    .table-header,
    .table-row {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .checkbox {
      margin-bottom: 10px;
    }
  
    .pagination,
    .bulk-delete {
      flex-direction: column;
      align-items: center;
    }
  
    .pagination button,
    .bulk-delete {
      width: 100%;
    }
  
    .actions {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  